name: Docker Builds

on:
  push:
    branches:
      - '18.0'
    tags:
      - 'v*'

  pull_request:
    branches:
      - '18.0'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4
      -
        name: Docker meta
        id: meta
        uses: crazy-max/ghaction-docker-meta@v4.6.0
        with:
          images: dudanogueira/evoodoo
      -
        name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v6.15.0
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ steps.meta.outputs.tags }}
            ${{ (startsWith(github.ref, 'refs/heads/18.0') || startsWith(github.ref, 'refs/tags/v18')) && 'dudanogueira/evoodoo:latest' || '' }}
          labels: ${{ steps.meta.outputs.labels }}